.job-skill {
    width: 18rem;
}
.add-job-skill {
    margin-left: 1.9rem;
}
.job-experience {
    width: 5rem;
}
.job-type {
    width: 10.75rem;
}
.job-district {
    width: 10.75rem;
}
.job-deadline {
    width: 10.75rem;
}